@{
    ViewData["Title"] = "Privacy Policy";
}


@{
    string token = TempData["Token"] as string;
}

<h1>@ViewData["Title"]</h1>
<h6> =>@token</h6>
<p>Use this page to detail your site's privacy policy.</p>
